/*Imported Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/*Define CSS variables*/
:root {
  --primary-color: #336699;
  --secondary-color: #99ccff;
  --background-color: #ffffff;
  --heading-font: 'Roboto', sans-serif;
  --paragraph-font: 'Roboto', sans-serif;
  --nav-link-color: #336699;
  --nav-hover-color: #99ccff;
}
body {
  margin: 0;
  padding: 0;
  font-family: var(--paragraph-font);
  background-color: var(--background-color);
  color: #333;
}

main {
  padding: 0px;
}

/* Apply styles to the main sections of index.html */
.full-width-image {
  position: relative;
  text-align: center;
  margin-bottom: 20px;
  overflow: hidden;
  height: 100vh;
}
.full-width-image img {
  width: 100vw;
  height: auto;
  object-fit: cover;
}
.full-width-image h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 2.5rem;
}

.newsletter-form h2 {
  font-size: 2em;
  margin-bottom: 10px;
  color: var(--primary-color);
  text-align: center;
}
.newsletter-form {
  text-align: center;
  margin: 0 auto; 
  width: 50%;
  max-width: 500px; 
  border: 1px solid #ccc;
  padding: 20px;
}
.newsletter-form form {
  display: flex;
  flex-direction: column;
}
.newsletter-form label {
  margin: 5px 0;
  text-align: left;
  width: 100%;
}
.newsletter-form input {
  padding: 10px;
  text-align: center;
}
.newsletter-form button {
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  margin: 10px 0;
  padding: 10px;

}

.call-to-action {
  text-align: center;
  margin-bottom: 20px;
  margin: 0 auto; 
  width: 50%; 
  max-width: 500px; 
  border: 1px solid #ccc; 
  padding: 20px;
}
.call-to-action a {
  color: #007bff;
  text-decoration: none;
}

.grid-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1 0px;
  margin-bottom: 20px;
  padding: 5%;
}
.grid-item {
  text-align: center;
}
.grid-item img {
  max-width: 100%;
  height: auto;
}
.grid-item h2 {
  font-size: 24px;
  color: var(--primary-color);
  margin-bottom: 10px;
}

/*Styling headings and paragraph elements*/
h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

p {
  color: #333;
}

/*Colors to the fonts*/
a {
  color: var(--nav-link-color);
  text-decoration: none;
}

header {
  background-color: var(--secondary-color);
  color: white;
  padding: 15px;
  display: flex;
  align-items: center;
}
header h1 {
  margin: 0;
  font-size: 24px;
}
header img {
  max-height: 200px;
}

nav a {
  color: var(--nav-link-color);
  transition: color 0.3s ease;
  color: white;
  text-decoration: none;
  margin: 0 15px;
}

nav a:hover {
  color: var(--nav-hover-color);
}

img {
  max-width: 100%;
  height: auto;
}

nav {
  flex: 1;
  text-align: right;
}

/* Hero Container Styling */
.hero {
  position: relative;
  width: 98%;
  max-height: auto;
  overflow: hidden;
  padding: 10px
}

.hero img {
  max-width: 30%;
  height: auto;
  display: block;
  float: right;
  padding: 10px;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5); /*Opacity adjusted*/
  color: #fff;
}
.hero-content article {
  text-align: left;
  width: 60%;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  display: inline-block;
  color: #fff;
}

/* Add history content */
.history {
  padding: 10px;
  text-align: center;
  flex-direction: column;
}

.history h2 {
  font-size: 2em;
  margin-bottom: 10px;
  color: var(--primary-color);
  text-align: center;
}

.history p {
  margin-bottom: 40px;
}

.history img {
  max-width: 30%;
  height: auto;
  margin: 20px;
  border-radius: 10px;
}

/* Adventures Display */
.adventures {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px; /* Add padding for better spacing */
  background-color: var(--background-color); /* Set background color to match other sections */
  text-align: center; /* Center align the content */
}

.adventures h2 {
  font-size: 2em; /* Set the heading size */
  margin-bottom: 20px; /* Add margin for spacing */
  color: var(--primary-color); /* Set heading color */
  width: 100%; /* Full-width heading */
}


.adventures figure {
  margin: 0;
  flex-basis: 20%; /* adjust the width of each figure */
  text-align: center;
}

.adventures figcaption {
  font-size: 1.2em;
  color: var(--primary-color);
  text-align: center;
}

footer {
  padding: 20px;
  background-color: var(--secondary-color);
  color: #fff;
  text-align: right;
}


.sociallinks a {
  margin-left: 10px;
}

/*Remove underlines from the social media links*/
nav.sociallinks a {
  text-decoration: none;
}

/* Responsive Design */
@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  header img {
    margin-top: 10px;
  }

  nav {
    text-align: left;
    margin-top: 10px;
  }
}